/* Custom styles for the admin panel */
body {
    font-family: 'Arial', sans-serif;
}

#wrapper {
    display: flex;
    flex-wrap: nowrap;
}

#sidebar-wrapper {
    min-height: 100vh;
    width: 250px;
    margin-left: -250px;
    transition: margin 0.25s ease-out;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#page-content-wrapper {
    flex: 1;
    padding: 20px;
}

.sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

.list-group-item {
    padding: 20px;
}

.list-group-item:hover {
    background-color: #333;
}

.list-group-item i {
    margin-right: 10px;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    #sidebar-wrapper {
        margin-left: -250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
    }
}
