{% extends 'ecommerce/admin_layouts/base.html' %}

{% block title %}Admin Order List{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Orders List</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>User</th>
                <th>Order Date</th>
                <th>Status</th>
                <th>Is_paid</th>
                <th>Total Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.user.username }}</td>
                <td>{{ order.order_date|date:"Y-m-d H:i" }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.is_paid }}</td>
                <td>Rs. {{ order.total_price }}</td>
                <td>
                    <a href="{% url 'admin_order_detail' order.id %}" class="btn btn-sm btn-primary">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
