<footer class="bg-dark text-white text-center text-lg-start">
    <!-- Social media section -->
    <section class="container d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <div class="me-5 d-none d-lg-block">
        <span>Connect with us on social networks:</span>
      </div>
      <div>
        <a href="#" class="text-white me-4"><i class="fa fa-facebook fa-lg"></i></a>
        <a href="#" class="text-white me-4"><i class="fa fa-twitter fa-lg"></i></a>
        <a href="#" class="text-white me-4"><i class="fa fa-google fa-lg"></i></a>
        <a href="#" class="text-white me-4"><i class="fa fa-instagram fa-lg"></i></a>
        <a href="#" class="text-white me-4"><i class="fa fa-linkedin fa-lg"></i></a>
        <a href="#" class="text-white me-4"><i class="fa fa-github fa-lg"></i></a>
      </div>
    </section>
  
    <!-- Links and company details section -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row">
          <!-- Company Info -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus"></i> MobileKart</h6>
            <p>
              ShopKart is your one-stop destination for all your family's fashion needs. 
              Explore the latest collections and give your wardrobe a fresh new look with our top brands.
            </p>
          </div>
  
          <!-- Make Money Section -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Make Money with Us</h6>
            <p><a href="#" class="text-reset">Sell on ShopKart</a></p>
            <p><a href="#" class="text-reset">Advertise Your Products</a></p>
            <p><a href="#" class="text-reset">Become an Affiliate</a></p>
            <p><a href="#" class="text-reset">Fulfilment by ShopKart</a></p>
          </div>
  
          <!-- Useful Links -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Useful Links</h6>
            <p><a href="#" class="text-reset">FAQ</a></p>
            <p><a href="#" class="text-reset">Feedback</a></p>
            <p><a href="#" class="text-reset">About Us</a></p>
            <p><a href="#" class="text-reset">Contact Us</a></p>
          </div>
  
          <!-- Contact Info -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fa fa-home me-3"></i> Prabaharan</p>
            <p><i class="fa fa-envelope me-3"></i> info@example.com</p>
            <p><i class="fa fa-phone me-3"></i> + 91 75550178893</p>
          </div>
        </div>
      </div>
    </section>
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      &copy; 2021 Copyright: 
      <a class="text-reset fw-bold" href="https://prabhar.in/">prbahar.in</a>
    </div>
  </footer>
  